html, body { 
    height: 100%;
}
body {
    margin: 0;
    background-image:url("../images/bonfire1.jpg");
    background-position:center;
    background-size:auto 100%;
    background-size:cover;
    background-repeat:no-repeat;
}

.centerBlock {
    padding-top: 10rem;
}

.centerContainer {
    display: block;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0;
    display: block;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 5.5em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}    
// почему кнопка не красная с синей границей?
#playbutton {
    display: block;
    height: 100px;
    width: 100px;
    color: red;
    border: 10rem blue;
    margin: auto;
}