* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    margin-top: 0;

    nav {
        width: 100%;
        height: 100%;
        background: none;
        font-family: 'EB Garamond', serif;
        font-weight: 500;

        ul {
            font-size: 2em;
            list-style-type: none;

            li {
                float: left;
            }
            a { 
                display: block;
                padding: 0em 5em;
                font-size: 2rem;
                text-decoration: none;
                color: white;
            }
        }
    }
}

body {
    margin: 0;
    background-image: url("../images/bonfire1.jpg");
    background-position: center;
    background-size: auto 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.centerContainer {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.centerBlock {
    //padding-top: 10rem;
}

h1 {
    margin: 0;
    display: block;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 5.5em;
    color: white;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
}

// почему кнопка не красная с синей границей?
#playbutton {
    display: block;
    height: 50px;
    width: 50px;
    color: red;
    border: 10rem blue;
    margin: auto;
}